NODE_ENV=production

#SerpAPI
SERPAPI_KEY=

# MongoDB
MONGO_URI=
MONGO_URI_EVENT=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
JWT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Frontend URL (for CORS)
CLIENT_URL=
CLIENT_URLS=